.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md

node_modules/**
/dist/**
/.vscode-test/**
/.git/**
/.github/**
/.vscode/**
/*.code-workspace
/*.json
/*.yml
/*.yaml
/*.ts
/*.js
/*.map
/*.tsx
/*.jsx
/tests/**
/.env
/.env.local
/.env.*.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode-test/** 